### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

Java_OOP/database-test/config.properties
Java_OOP/database-test/AppConfig

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/module-1/Rectangle/allclasses-index.html
/module-1/Rectangle/allclasses-index.html
/module-1/Rectangle/allpackages-index.html
/module-1/Rectangle/copy.svg
/module-1/Rectangle/element-list
/module-1/Rectangle/help-doc.html
/module-1/Rectangle/index.html
/module-1/Rectangle/Main.html
/module-1/Rectangle/member-search-index.js
/module-1/Rectangle/module-search-index.js
/module-1/Rectangle/overview-tree.html
/module-1/Rectangle/package-search-index.js
/module-1/Rectangle/package-summary.html
/module-1/Rectangle/package-tree.html
/module-1/Rectangle/Rectangle.html
/module-1/Rectangle/Rectangle.iml
/module-1/Rectangle/script.js
/module-1/Rectangle/search.html
/module-1/Rectangle/search.js
/module-1/Rectangle/search-page.js
/module-1/Rectangle/stylesheet.css
/module-1/Rectangle/tag-search-index.js
/module-1/Rectangle/type-search-index.js
/module-1/Rectangle/src/META-INF/
/module-1/Rectangle/index-files/
/module-1/Rectangle/legal/
/module-1/Rectangle/resources/
/module-1/Rectangle/script-dir/
/module-1/SumCalculator/index-files/
/module-1/SumCalculator/legal/
/module-1/SumCalculator/resources/
/module-1/SumCalculator/script-dir/
/module-1/SumCalculator/allclasses-index.html
/module-1/SumCalculator/allpackages-index.html
/module-1/SumCalculator/Calculate.html
/module-1/SumCalculator/copy.svg
/module-1/SumCalculator/element-list
/module-1/SumCalculator/help-doc.html
/module-1/SumCalculator/index.html
/module-1/SumCalculator/Main.html
/module-1/SumCalculator/member-search-index.js
/module-1/SumCalculator/module-search-index.js
/module-1/SumCalculator/overview-tree.html
/module-1/SumCalculator/package-search-index.js
/module-1/SumCalculator/package-summary.html
/module-1/SumCalculator/package-tree.html
/module-1/SumCalculator/script.js
/module-1/SumCalculator/search.html
/module-1/SumCalculator/search.js
/module-1/SumCalculator/search-page.js
/module-1/SumCalculator/stylesheet.css
/module-1/SumCalculator/SumCalculator.iml
/module-1/SumCalculator/tag-search-index.js
/module-1/SumCalculator/type-search-index.js
/module-1/SumCalculator/UserInput.html



